@font-face {
    font-family: 'newRome';
    src: url('/wedding/css/NewRomeTrial-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'miss';
    src: url('/wedding/css/Miss_Katherine_Cyrillic_Script.ttf') format("truetype");
}

body {
    font-family: 'newRome', sans-serif;
    color: #7F6C41;
    font-size: 6px;
    font-weight: bold;
}

strong {
    text-shadow: 0 0 .5px #7F6C41;
}
