@font-face {
    font-family: 'lt-signage';
    src: url('/wedding/css/lt-signage.woff2') format('woff2'),
    url('/wedding/css/lt-signage.woff') format('woff'),
    url('/wedding/css/lt-signage.ttf')  format('truetype');
}

body {
    font-family: 'lt-signage', sans-serif;
}
