body {
    font-size: 4px;
    background: #323641;
    color: #4b0707;
    overflow: hidden;
}

.letter-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 210px;
    height: 297px;
    transform: translate(-50%, -50%) scale(.8);
    cursor: pointer;
    perspective: 10px;
    perspective-origin: top;

    .envelope {
        position: absolute;
        bottom: 25%;

        .folds {
            position: absolute;
            left: 0;
            bottom: 0;

            .body {
                position: absolute;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 148px 210px;
                border-color: transparent transparent #e95f55 transparent;
                z-index: 4;
            }

            .top-fold {
                position: absolute;
                bottom: 60px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 88px 105px 0 105px;
                transform-origin: 50% 0;
                border-color: #e5594f transparent transparent transparent;
                z-index: 5;
            }

            .back-fold {
                position: absolute;
                bottom: 0;
                width: 210px;
                height: 148px;
                background: #cf4a43;
                z-index: 0;
            }

            .left-fold {
                position: absolute;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 74px 0 74px 105px;
                border-color: transparent transparent transparent #e15349;
                z-index: 3;
            }

            .cover {
                position: absolute;
                bottom: 0;
                width: 210px;
                height: 145px;
                backdrop-filter: blur(2px);
                z-index: 2;
                background-color: rgba(225, 83, 73, .1);
            }
        }

        .papers {
            position: absolute;
            bottom: -148px;
            transform: scale(.9) translate(10px, -20px);

            .paper1 {
                position: absolute;
                bottom: 0;
                width: 210px;
                height: 297px;
                perspective: 600px;
                z-index: 2;

                .front {
                    width: 210px;
                    height: 297px;
                    transform: rotateY(0deg);
                    perspective: 600px;
                    backface-visibility: hidden;

                    .front1 {
                        width: 210px;
                        height: 148px;
                        overflow: hidden;
                        backface-visibility: hidden;
                        box-shadow: 5px 5px 10px rgba(0,0,0,0.4);

                        .paper-inner {
                            height: 297px;
                            background: url("1.jpg") 0 0 / 100% no-repeat, white;
                            display: flex;
                            position: relative;

                            .paper-content {
                                padding: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                .text {
                                    margin-top: 10px;
                                    text-indent: 20px;
                                    line-height: 14px;
                                    letter-spacing: 0.3px;

                                    &.text-center {
                                        text-indent: 0;
                                        text-align: center;
                                    }

                                    &.text-space {
                                        margin-top: 10px;
                                        margin-bottom: 40px;
                                    }
                                }
                            }
                        }
                    }

                    .front2 {
                        width: 210px;
                        height: 148px;
                        overflow: hidden;
                        transform-origin: center top;
                        transform: rotateX(-180deg);
                        backface-visibility: hidden;
                        box-shadow: 5px 5px 10px rgba(0,0,0,0.4);

                        .paper-inner {
                            height: 297px;
                            top: -148px;
                            position: relative;
                            background: url("1.jpg") 0 0 / 100% no-repeat, white;
                            display: flex;

                            .paper-content {
                                padding: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                .text {
                                    margin-top: 10px;
                                    text-indent: 20px;
                                    line-height: 14px;
                                    letter-spacing: 0.3px;

                                    &.text-center {
                                        text-indent: 0;
                                        text-align: center;
                                    }

                                    &.text-space {
                                        margin-top: 10px;
                                        margin-bottom: 40px;
                                    }
                                }
                            }
                        }
                    }
                }

                .back {
                    transform: rotateY(180deg);
                    backface-visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 210px;
                    height: 297px;
                    background: url("rings.png") 50% 25% / 22% no-repeat, url("2.jpg") 50% 50% / 110% no-repeat, white;
                    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);

                    .paper-inner {
                        width: 210px;
                        height: 297px;
                        display: flex;

                        .paper-content {
                            padding: 10px;
                            display: flex;
                            flex-grow: 1;
                            flex-direction: column;
                            justify-content: center;

                            .text {
                                line-height: 14px;
                                letter-spacing: 0.3px;

                                &.text-center {
                                    margin-top: 24px;
                                    text-align: center;
                                }

                                &.text-handwritten {
                                    margin-top: 10px;
                                    font-family: 'miss', sans-serif;
                                    font-size: 45px;
                                    line-height: 45px;
                                    font-weight: normal;
                                }

                                &.text-left {
                                    margin-top: 5px;
                                    margin-left: 27px;
                                }
                            }
                        }
                    }
                }
            }

            .paper2 {
                width: 210px;
                height: 297px;
                position: absolute;
                bottom: 0;
                flex-direction: column;
                background: url("3.jpg") 50% 50% / 102% no-repeat, white;
                justify-content: center;
                box-shadow: 0 0 0 297px rgba(255, 255, 255, 0.2) inset, 5px 5px 10px rgba(0,0,0,0.4);
                z-index: 1;
                opacity: 0;
                transform: rotateZ(0deg);
                display: flex;

                .paper-inner {
                    flex-grow: 1;
                    padding: 10px;

                    .text {
                        margin-top: 2px;
                        text-indent: 13px;
                        line-height: 10px;
                        letter-spacing: 0.3px;

                        &.text-center {
                            text-indent: 0;
                            text-align: center;
                        }

                        &.text-handwritten {
                            text-indent: 0;
                            font-family: 'miss', sans-serif;
                            font-size: 40px;
                            line-height: 40px;
                            font-weight: normal;
                            margin-top: 5px;
                            margin-bottom: -5px
                        }

                        &.listed:before {
                            content: '\2764';
                            margin: 0 .5em 0 0;
                        }
                    }
                }
            }
        }
    }
}

.letter-image.open {
    transform: translate(-50%, -50%) scale(1.5);
    transition: transform .5s ease-in-out .5s;

    .envelope {
        .folds {
            bottom: -200px;
            transition: bottom .5s ease-in-out 1.5s;

            .top-fold {
                transform: rotateX(180deg);
                z-index: 0;
                border-color: #cf4a43 transparent transparent transparent;
                transition: transform .5s ease-in-out, z-index 0s ease-in-out .5s, border-color .5s ease-in-out;            }
        }

        .papers {
            bottom: -74px;
            transition: bottom .5s ease-in-out 1s;

            .paper1 {
                .front {
                    .front2 {
                        transform: rotateX(0deg);
                        transition: transform 1s ease-in-out 2s;
                    }
                }
            }
        }
    }
}

.letter-image.open.touch {
    .envelope {
        .folds {
            bottom: -1000px;
            transition: bottom .5s ease-in-out;
        }

        .papers {
            transform: scale(1) translate(0, 0);
            transition: transform .5s ease-in-out .5s;

            .paper1 {
                .front {
                    transform: rotateY(180deg);
                    transition: transform 1s ease-in-out 1s;
                }
                .back {
                    transform: rotateY(360deg);
                    transition: transform 1s ease-in-out 1s;
                }
            }

            .paper2 {
                opacity: 1;
                transform: rotateZ(2deg);
                transform-origin: left bottom;
                transition: transform .5s ease-in-out 2s, opacity 0s 2s;
            }
        }
    }
}

.letter-image.open.touch.take {
    .envelope {
        .folds {
            display: none;
        }

        .papers {
            .paper1 {
                transform: translateY(1000px);
                transition: transform .5s ease-in-out;
            }

            .paper2 {
                transform: rotateZ(0deg);
                transition: transform 1s ease-in-out;
            }
        }
    }
}

